.mpContainer {
    width: 90%;
    height: 600px;
    background-color: #1B1D1F;
    position: absolute;
    transform: translate(5%, 30%);
    border: 1px solid #282B30;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;    
}

.header > input {
    width: 300px;
    height: 45px;
    background-image: url("/Search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    background-color: #282B30;
    border: none;
    border-radius: 10px;

}

.header > input:focus {
    outline: none;
 
}

.filters {
    margin-left: 30px;
}

.filters > span {
    display: block;
    margin-bottom: 10px;
}

.filters > select {
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1B1D1F;
    border: 2px solid #282B30;
    border-radius: 10px;
    margin-bottom: 30px;
}

.filters > select:focus {
    outline: none;
}
