.infoComponent {
  align-items: center;
  height: 50px;
  padding-bottom: 100px;
  display: block;
  
}
.img {
  width: 60px; /* Ajusta el tamaño del contenedor */
  height: 50px; /* Ajusta el tamaño del contenedor */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin-right: 35px;

}

.infoComponent * {
  color: #D2D5DA;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  
}

.infoComponent span {
  margin-top: 15px;
}

.infoComponent > span:nth-child(2) {
  margin-left: 100px;
}

.infoComponent > span:nth-child(3) {
  margin-left: 255px;
}

.infoComponent > span:nth-child(4) {
  margin-left: 450px;
}

.infoComponent > span:nth-child(5) {
  margin-left: 650px;
}

