.infoComponent {
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.infoComponent * {
  color: #D2D5DA;
  font-size: 16px;
  font-weight: 600;  
}

.img {
  width: 75px; 
  height: 50px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 35px;
}

.infoComponent > span:nth-child(2) {
  width: 210px;
}

.infoComponent > span:nth-child(3) {
  width: 180px;
}

.infoComponent > span:nth-child(4) {
  width: 200px;
}