.img {
  width: 60px; /* Ajusta el tamaño del contenedor */
  height: 50px; /* Ajusta el tamaño del contenedor */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.infoComponent * {
  display: flex;
  flex-direction: row;
}

.infoComponent > span {
  padding-top: 15px;
}

.infoComponent > span:nth-child(2) {
  transform: translate(100px);
  
}

.infoComponent > span:nth-child(3) {
  transform: translate(250px);
}

.infoComponent > span:nth-child(4) {
  transform: translate(450px);
}

.infoComponent > span:last-child {
  transform: translate(650px);
}

