.mpContainer {
    width: 90%;
    height: auto;
    background-color: red;
    position: relative;
    margin-bottom: 50px;
    border: 2px solid #282B30;
    border-radius: 10px;
    left: 5%;
    transform: translateY(-50px);
    background-color: #1B1D1F;   
    padding: 30px 30px;
}

.headerMp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMp > input {
    width: 380px;
    height: 40px;
    background-image: url('./Search.svg');
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 35px;
    background-color: #282B30;
    border: 0;
    border-radius: 8px;
    color: #6C727F;
}
.headerMp > input:focus{
    outline: none;
    border: none;
}

.filters > label {
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
}

#inputSelect {
    background-color: #1B1D1F;
    border: 2px solid #282B30;
    border-radius: 10px;
    width: 250px; 
    height: 40px;
}

#inputSelect:focus {
    outline: none;
    background-color: #1B1D1F;
}

.filters > span{
    display: block;
    margin: 20px 0px 10px 0;
}

