.region {
    width: auto;
    height: 40px;
    
}
.region > button {
    display: inline;
    background-color: #1B1D1F;
    border: 0;
    text-align: center;
    padding: 10px;
}

.region > button:hover {
    border: 0.5px solid #6C727F;
    padding: 9.5px;
    border-radius: 10px;
}

.btClicked > button{
    background-color: #282B30;
    color: #D2D5DA;
    border-radius: 10px;

}
