.appContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.bgContainer {
    width: 100%;
    height: 250px;
    position: relative;
}

.bgContainer :first-child > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.bgContainer :last-child > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}