* { 
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", serif;

}

body {
 background-color: #1B1D1F;  
}

.color1 {
  color: #1B1D1F;
}

.color2 {
  color: #282B30;
}

.color3 {
  color: #6C727F;
}

.color4 {
  color: #D2D5DA;
}

.font1 {
  font-size: 32px;
  font-weight: 600;
}

.font2 {
  font-size: 16px;
  font-weight: 600;
}

.font3 {
  font-size: 14px;
  font-weight: 700;
}

.font4 {
  font-size: 12px;
  font-weight: 700;
}